@font-face {
  font-family:"xiuxian";
  src: url('../../../font/_GBK.TTF');
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100%;
  text-align: center;
  background-image: url('state.png');
  background-size: 100% 100%;
  margin: auto;
  font-family: xiuxian;
}

.state-top {
  margin: auto;
  padding: 50px;
}

.use_data {
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.user_font {
  text-align: center;
  margin: 9px;
  font-size: 30px;
  padding: 15px;
  font-weight: 600;
  border-radius: 20px;
}