<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{pluResPath}}/html/equipment/equipment.css"
    />
  </head>

  <body>
    <div class="user_width">
      <div class="user_left">
        <div class="user_left_top">
          <div class="user_font_title">[武器]</div>
          <div class="user_font">
            名称:{{arms.name}}({{['劣','普','优','精','极','绝','顶'][arms.pinji]}})
          </div>
          {{if arms.atk>10 || arms.def>10 || arms.HP>10}}
          <div class="user_font">属性:无</div>
          <div class="user_font">攻击:{{(arms.atk).toFixed(0)}}</div>
          <div class="user_font">防御:{{(arms.def).toFixed(0)}}</div>
          <div class="user_font">血量:{{(arms.HP).toFixed(0)}}</div>
          {{else}}
          <div class="user_font">
            属性:{{['金','木','土','水','火'][arms.id-1]}}
          </div>
          <div class="user_font">攻击:{{(arms.atk*100).toFixed(0)}}%</div>
          <div class="user_font">防御:{{(arms.def*100).toFixed(0)}}%</div>
          <div class="user_font">血量:{{(arms.HP*100).toFixed(0)}}%</div>
          {{/if}}
          <div class="user_font">暴击率:{{(arms.bao*100).toFixed(0)}}%</div>
        </div>
        <div class="user_left_buttom">
          <div class="user_font_title">[护具]</div>
          <div class="user_font">
            名称:{{armor.name}}({{['劣','普','优','精','极','绝','顶'][armor.pinji]}})
          </div>
          {{if armor.atk>10 || armor.def>10 || armor.HP>10}}
          <div class="user_font">属性:无</div>
          <div class="user_font">攻击:{{(armor.atk).toFixed(0)}}</div>
          <div class="user_font">防御:{{(armor.def).toFixed(0)}}</div>
          <div class="user_font">血量:{{(armor.HP).toFixed(0)}}</div>
          {{else}}
          <div class="user_font">
            属性:{{['金','木','土','水','火'][armor.id-1]}}
          </div>
          <div class="user_font">攻击:{{(armor.atk*100).toFixed(0)}}%</div>
          <div class="user_font">防御:{{(armor.def*100).toFixed(0)}}%</div>
          <div class="user_font">血量:{{(armor.HP*100).toFixed(0)}}%</div>
          {{/if}}
          <div class="user_font">暴击率:{{(armor.bao*100).toFixed(0)}}%</div>
        </div>
      </div>
      <div class="user_right">
        <div class="user_right_top">
          <div class="user_font_title">[法宝]</div>
          <div class="user_font">
            名称:{{treasure.name}}({{['劣','普','优','精','极','绝','顶'][treasure.pinji]}})
          </div>
          {{if treasure.atk>10 || treasure.def>10 || treasure.HP>10}}
          <div class="user_font">属性:无</div>
          <div class="user_font">攻击:{{(treasure.atk).toFixed(0)}}</div>
          <div class="user_font">防御:{{(treasure.def).toFixed(0)}}</div>
          <div class="user_font">血量:{{(treasure.HP).toFixed(0)}}</div>
          {{else}}
          <div class="user_font">
            属性:{{['金','木','土','水','火'][treasure.id-1]}}
          </div>
          <div class="user_font">攻击:{{(treasure.atk*100).toFixed(0)}}%</div>
          <div class="user_font">防御:{{(treasure.def*100).toFixed(0)}}%</div>
          <div class="user_font">血量:{{(treasure.HP*100).toFixed(0)}}%</div>
          {{/if}}
          <div class="user_font">暴击率:{{(treasure.bao*100).toFixed(0)}}%</div>
        </div>
        <div class="user_right_buttom">
          <div class="user_font_title">[属性板]</div>
          <div class="user_font2">道号:{{nickname}}</div>
          <div class="user_font2">血量:{{(player_maxHP).toFixed(0)}}</div>
          <div class="user_font2">攻击:{{(player_atk).toFixed(0)}}</div>
          <div class="user_font2">防御:{{(player_def).toFixed(0)}}</div>
          <div class="user_font2">暴击率:{{(player_bao).toFixed(0)}}%</div>
        </div>
      </div>
    </div>
  </body>

  <style>
    @font-face {
      font-family: 'tttgbnumber';
      src: url('{{pluResPath}}/font/tttgbnumber.ttf');
      font-weight: normal;
      font-style: normal;
    }

    body {
      transform: scale(1);
      width: 100%;
      height: 480px;
      margin: 0;
      text-align: center;
      background-image: url('{{pluResPath}}/img/equipment_pifu/0.jpg');
      background-size: 100% auto;
    }
  </style>
</html>
