.user_width {
  width: 90%;
  margin: auto;
}

.user_font {
  margin: auto;
  text-align: left;
  font-size: 15px;
  color: rgb(255, 255, 255);
  margin: 5px;
  padding-left: 20px;
  background-color: rgba(60, 73, 82, 0.486);
  border-radius: 20px;
}

.user_font_title {
  margin: auto;
  text-align: center;
  font-size: 15px;
  margin: 5px;
  color: rgb(255, 255, 255);
  background-color: rgba(60, 73, 82, 0.486);
  border-radius: 20px;
}

.user_font2 {
  margin: auto;
  text-align: left;
  font-size: 15px;
  color: rgb(255, 255, 255);
  margin: 5px;
  padding-left: 20px;
  background-color: rgba(60, 73, 82, 0.486);
  border-radius: 20px;
}

.user_head {
  padding-top: 370px;
}

.user_qq {
  width: 20%;
  text-align: center;
  margin: auto;
  background-color: rgba(164, 193, 231, 0.408);
  border-radius: 15px;
  color: rgb(0, 0, 0);
  padding: 1px;
}

.user_left {
  float: left;
  width: 30%;
  margin-top: 10px;
}

.user_left_top {
  background-image: radial-gradient(
    rgba(206, 226, 226, 0.245),
    rgba(164, 193, 231, 0.408)
  );
  border-radius: 20px;
  margin-top: 15px;
  padding: 15px;
}

.user_left_buttom {
  background-image: radial-gradient(
    rgba(206, 226, 226, 0.245),
    rgba(164, 193, 231, 0.408)
  );
  border-radius: 20px;
  margin-top: 15px;
  padding: 15px;
}

.user_right {
  float: right;
  width: 30%;
  margin-top: 10px;
}

.user_right_top {
  background-image: radial-gradient(
    rgba(206, 226, 226, 0.245),
    rgba(164, 193, 231, 0.408)
  );
  border-radius: 20px;
  margin-top: 15px;
  padding: 15px;
}

.user_right_buttom {
  background-image: radial-gradient(
    rgba(206, 226, 226, 0.245),
    rgba(164, 193, 231, 0.408)
  );
  border-radius: 20px;
  margin-top: 15px;
  padding: 15px;
}
