@import url('./root.css');

body {
  background-image: url('../img/00.jpg');
  background-size: 100% auto;
  color: #ffffff;
  font-size: 3rem;
}

#root {
  width: 100%;
  height: 100%;
}

.nav {
  padding: 1rem;
}

.nav-box {
  background-color: var(--bg-color);
  padding: 1rem;
  border-radius: 1rem;
}

.autograph {
  padding: 1rem;
}

.autograph-box {
  background-color: var(--bg-color);
  padding: 1rem;
  border-radius: 1rem;
}

.level {
  padding: 1rem;
}

.level-box {
  background-color: var(--bg-color);
  padding: 1rem;
  border-radius: 1rem;
}