:root {
  --bg-color: rgb(60 58 58 / 79%);
  --border-radius: 9px;

  --title-color: #3d3527d9;
  --title-text-shadow: 2px 2px 4px #dfdfdf;

  --background-image: url('../img/24.jpg');

  --box-shadow: 2px 2px 4px #3d3527d9;

  --box-shadow-bool: 2px 2px 4px #ff0000ba;

  --inset-box-shadow: inset 0px 0px 21px #ffffffd9;
  --inset-bg-color: rgba(60, 58, 58, 0.532);

  --uid-background-bolor: linear-gradient(45deg, #585858c9, #a5a5bfd9);

  --font-color: #10e633dc;

  --nav-state-clolor: #00bbd4;
}
