:root {
  --bg-color: rgb(164 178 205 / 92%);
  --border-radius: 9px;

  --title-color: #4b6774cc;
  --title-text-shadow: 2px 2px 4px #ffffff;

  --background-image: url('../img/03.jpg');

  --box-shadow: 2px 2px 4px #4b6774cc;
}
