:root {
  --bg-color: rgba(238, 140, 140, 0.79);
  --border-radius: 9px;

  --title-color: #4b2f13cc;
  --title-text-shadow: 2px 2px 4px #ffffff;

  --background-image: url('../img/00.jpg');

  --box-shadow: 2px 2px 4px #4b2f13cc;

  --inset-box-shadow: inset 0px 0px 21px #ffffffd9;
  --inset-bg-color: rgba(238, 140, 140, 0.596);

  --box-shadow-bool: 2px 2px 4px #ff0000ba;

  --uid-background-bolor: linear-gradient(
    45deg,
    rgb(244 155 155 / 79%),
    #a74742d9
  );

  --font-color: #10e633dc;

  --nav-state-clolor: #7dac19;
}
