:root {
  --bg-color: rgb(83 107 153 / 73%);
  --border-radius: 9px;

  --title-color: #d4d5e0e0;
  --title-text-shadow: 2px 2px 4px #4067ade3;

  --background-image: url('../img/28.jpg');

  --box-shadow: 2px 2px 4px #d4d5e0e0;

  --inset-box-shadow: inset 0px 0px 21px #ffffffd9;
  --inset-bg-color: rgba(83, 107, 153, 0.578);

  --box-shadow-bool: 2px 2px 4px #ff0000ba;

  --uid-background-bolor: linear-gradient(45deg, #4067ad54, #143878eb);

  --font-color: #10e633dc;

  --nav-state-clolor: #0097d4;
}
