body {
  background-image: var(--background-image);
  background-size: 100% auto;
  color: #fffffff0;
  font-size: 2rem;
}

#root {
  width: 100%;
  height: 100%;
}

.nav-box-item-font {
  margin: auto;
}

.kills {
  padding: 2rem 1rem 1rem 1rem;
  font-size: 20px;
}

.kills-box {
  background-color: var(--bg-color);
  padding: 10px 1rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-wrap: wrap;
  position: relative;
  box-shadow: var(--box-shadow);
}

.kills-box-item {
  display: flex;
}

.kills-box-item-j {
  display: flex;
  flex-wrap: wrap;
  margin-right: 1rem;
}

.kills-box-item-font {
  color: var(--font-color);
}

.equiment {
  padding: 2rem 1rem 1rem 1rem;
  font-size: 20px;
}

.equiment-box {
  background-color: var(--bg-color);
  padding: 10px 1rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-wrap: wrap;
  position: relative;
  box-shadow: var(--box-shadow);
  flex-direction: column;
}

.equiment-box-item {
  display: flex;
  flex-wrap: wrap;
}

.equiment-box-item-j {
  display: flex;
  flex-wrap: wrap;
  margin-right: 1rem;
}

.equiment-box-item-font {
  color: var(--font-color);
}

.box-help {
  padding: 2rem 1rem 1rem 1rem;
}

.box-help-box {
  padding: 4px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--inset-bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--inset-box-shadow);
}
