body {
  transform: scale(1);
  width: 100%;
  background: url('../../img/help/help.png') top left no-repeat;
  background-size: 100%;
}

.container {
  width: 100%;
}

.label {
  font-family: Number, "微软雅黑", sans-serif;
}

.head-box {
  margin: 60px 0 0 0;
  padding-bottom: 0;
}

.head-box .title {
  font-size: 50px;
}

.cont-box {
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 5px 15px;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  background: rgb(221 239 250 / 28%);
}

.help-group {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 0 5px 10px;
}

.help-table {
  text-align: center;
  border-collapse: collapse;
  margin: 5px -10px -10px -15px;
  border-radius: 0 0 10px 10px;
  display: table;
  overflow: hidden;
  width: calc(100% + 30px);
  color: #fff;
}

.help-table .tr {
  display: flex;
  flex-wrap: wrap
}

.help-table .td,
.help-table .th {
  font-size: 14px;
  display: table-cell;
  box-shadow: 0 0 1px 0 #888 inset;
  padding: 12px 0 12px;
  line-height: 24px;
  position: relative;
  width: calc(100%/3);
  text-align: left;
}

.help-table .tr:nth-child(odd) {
  background: rgb(221 239 250 / 28%);
}

.help-table .tr:nth-child(even) {
  background: rgb(221 239 250 / 28%);
}

.help-table .tr:last-child .td {
  padding-bottom: 12px;
}

.help-table .th {
  background: rgba(34, 41, 51, 0.5);
}

.help-icon {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  background: url('../../img/help/icon.png') 0 0 no-repeat;
  background-size: 500px auto;
  border-radius: 5px;
  left: 6px;
  top: 12px;
  transform: scale(0.85);
}

.help-icon-1 {
  background-position: -0px -0px
}

.help-icon-2 {
  background-position: -50px -0px
}

.help-icon-3 {
  background-position: -100px -0px
}

.help-icon-4 {
  background-position: -150px -0px
}

.help-icon-5 {
  background-position: -200px -0px
}

.help-icon-6 {
  background-position: -250px -0px
}

.help-icon-7 {
  background-position: -300px -0px
}

.help-icon-8 {
  background-position: -350px -0px
}

.help-icon-9 {
  background-position: -400px -0px
}

.help-icon-10 {
  background-position: -450px -0px
}

.help-icon-11 {
  background-position: -0px -50px
}

.help-icon-12 {
  background-position: -50px -50px
}

.help-icon-13 {
  background-position: -100px -50px
}

.help-icon-14 {
  background-position: -150px -50px
}

.help-icon-15 {
  background-position: -200px -50px
}

.help-icon-16 {
  background-position: -250px -50px
}

.help-icon-17 {
  background-position: -300px -50px
}

.help-icon-18 {
  background-position: -350px -50px
}

.help-icon-19 {
  background-position: -400px -50px
}

.help-icon-20 {
  background-position: -450px -50px
}

.help-icon-21 {
  background-position: -0px -100px
}

.help-icon-22 {
  background-position: -50px -100px
}

.help-icon-23 {
  background-position: -100px -100px
}

.help-icon-24 {
  background-position: -150px -100px
}

.help-icon-25 {
  background-position: -200px -100px
}

.help-icon-26 {
  background-position: -250px -100px
}

.help-icon-27 {
  background-position: -300px -100px
}

.help-icon-28 {
  background-position: -350px -100px
}

.help-icon-29 {
  background-position: -400px -100px
}

.help-icon-30 {
  background-position: -450px -100px
}

.help-icon-31 {
  background-position: -0px -150px
}

.help-icon-32 {
  background-position: -50px -150px
}

.help-icon-33 {
  background-position: -100px -150px
}

.help-icon-34 {
  background-position: -150px -150px
}

.help-icon-35 {
  background-position: -200px -150px
}

.help-icon-36 {
  background-position: -250px -150px
}

.help-icon-37 {
  background-position: -300px -150px
}

.help-icon-38 {
  background-position: -350px -150px
}

.help-icon-39 {
  background-position: -400px -150px
}

.help-icon-40 {
  background-position: -450px -150px
}

.help-icon-41 {
  background-position: -0px -200px
}

.help-icon-42 {
  background-position: -50px -200px
}

.help-icon-43 {
  background-position: -100px -200px
}

.help-icon-44 {
  background-position: -150px -200px
}

.help-icon-45 {
  background-position: -200px -200px
}

.help-icon-46 {
  background-position: -250px -200px
}

.help-icon-47 {
  background-position: -300px -200px
}

.help-icon-48 {
  background-position: -350px -200px
}

.help-icon-49 {
  background-position: -400px -200px
}

.help-icon-50 {
  background-position: -450px -200px
}

.help-icon-51 {
  background-position: -0px -250px
}

.help-icon-52 {
  background-position: -50px -250px
}

.help-icon-53 {
  background-position: -100px -250px
}

.help-icon-54 {
  background-position: -150px -250px
}

.help-icon-55 {
  background-position: -200px -250px
}

.help-icon-56 {
  background-position: -250px -250px
}

.help-icon-57 {
  background-position: -300px -250px
}

.help-icon-58 {
  background-position: -350px -250px
}

.help-icon-59 {
  background-position: -400px -250px
}

.help-icon-60 {
  background-position: -450px -250px
}

.help-icon-61 {
  background-position: -0px -300px
}

.help-icon-62 {
  background-position: -50px -300px
}

.help-icon-63 {
  background-position: -100px -300px
}

.help-icon-64 {
  background-position: -150px -300px
}

.help-icon-65 {
  background-position: -200px -300px
}

.help-icon-66 {
  background-position: -250px -300px
}

.help-icon-67 {
  background-position: -300px -300px
}

.help-icon-68 {
  background-position: -350px -300px
}

.help-icon-69 {
  background-position: -400px -300px
}

.help-icon-70 {
  background-position: -450px -300px
}


.help-icon-71 {
  background-position: -0px -350px
}

.help-icon-72 {
  background-position: -50px -350px
}

.help-icon-73 {
  background-position: -100px -350px
}

.help-icon-74 {
  background-position: -150px -350px
}

.help-icon-75 {
  background-position: -200px -350px
}

.help-icon-76 {
  background-position: -250px -350px
}

.help-icon-77 {
  background-position: -300px -350px
}

.help-icon-78 {
  background-position: -350px -350px
}

.help-icon-79 {
  background-position: -400px -350px
}

.help-icon-80 {
  background-position: -450px -350px
}

.copyright {
  font-size: 16px;
  text-align: center;
  color: #fff;
  position: relative;
  padding-left: 10px;
  text-shadow: 1px 1px 1px #000;
  margin: 10px 0;
}
.copyright .version {
  font-size: 13px;
  color: #d3bc8e;
  display: inline-block;
  padding: 0 3px;
}

.help-title {
  display: block;
  padding-left: 50px;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
}

.help-desc {
  display: block;
  padding-left: 50px;
  font-size: 13px;
  line-height: 18px;
  color: black;
}