.user-message {
  cursor: pointer;
  font-size: 20px;

  background-color: rgb(4, 138, 255);
}

.search {
  background-color: rgb(107, 173, 231);
}

.search-title {
  font-size: 20px;
}

.search-input {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #333;
  border-radius: 5px;
  color: #333;
  transition: border-color 0.3s;
}

.search:focus {
  border-color: #666;
  outline: none;
}

.look {
  display: flex;
}

.look-select {
  background-color: aqua;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px 0 0 8px;
}

.table {
  font-size: 20px;
}

.table-title {
  margin: auto;
}

.list {
  display: flex;
}

.list-font {
  padding: 10px;
  margin: 10px;
}

.list-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 2px solid #333;
  border-radius: 5px;
  margin: auto 0;
  color: #333;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.list-button:hover {
  background-color: #333;
  color: #fff;
  border-color: #333;
}
