.comMainLogo {
  margin: 2rem;
}

.header {
  padding: 20px;
}

.title {
  font-size: 24px;
  margin: 0;
  color: #4a4a4b;
}

.input {
  width: 300px;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-bottom: 15px;
  font-size: 16px;
}

.input::placeholder {
  color: #999;
}

.input:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px #66afe9;
}

.loginButton {
  width: 11rem;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.registerLink {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.registerLink a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.registerLink a:hover {
  text-decoration: underline;
}
