body {
  width: 100%;
  text-align: center;
  background-image: url('../../allimg/user/Warehouse/Warehouse.jpg');
  background-size: 100% auto;
}

.header {
  display: flex;
}

.card_box {
  margin: 30px;
  width: 740px;
  display: flex;
  flex-wrap: nowrap;
  z-index: 999;
}

.use_data {
  width: 740px;
}

.user_font {
  text-align: left;
  margin: 10px;
  font-size: 22px;
  padding: 15px;
  font-weight: 600;
  font-family: 'tttgbnumber';
  color: #000000;
}

.user_font_title {
  margin: 10px 30px 10px 30px;
  text-align: center;
  border-bottom: 1px solid #bb8020;
  font-size: 30px;
  font-weight: 600;
  color: #000000;
}

.goods {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.item {
  margin: 10px;
  padding: 10px;
  width: 185px;
  background: radial-gradient(at top left, #ffcc4d80, #ff9800d0);
  box-shadow: 1px 2px 6px rgba(170, 31, 0, 0.2), 3px 8px 12px rgba(71, 35, 22, 0.3);
  position: relative;
}

.item_title {
  display: block;
  padding: 5px;
  text-align: center;
  font-family: 'tttgbnumber';
  font-size: 18px;
  font-weight: 600;
  color: #2f2b26;
}

.font_item_title {
  font-family: 'tttgbnumber';
  font-size: 20px;
  font-weight: 600;
  color: #151310;
}

.item_int {
  display: block;
  font-family: 'tttgbnumber';
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #393535;
}

.user_top {
  display: grid;
  background-image: url('../../allimg/user/Warehouse/Warehouse横幅.jpg');
  background-size: 100% 100%;
}

.user_top1 {
  display: grid;
  background-image: url('../../allimg/user/Warehouse/Warehouse横幅1.jpg');
  background-size: 100% 100%;
}

.user_top2 {
  display: grid;
  background-image: url('../../allimg/user/Warehouse/Warehouse横幅.jpg');
  background-size: 100% 100%;
}
