body {
  text-align: center;
  margin: 0;
}

.battle {
  width: 100%;
  height: 100%;
}

.battle-body {
  width: 100%;
  padding: 20px;
  border-radius: 20px;
}


.battle-head {
  background-image: linear-gradient(to right, #116bc2, #70a7db);
  font-size: 30px;
  margin: auto;
  width: 57%;
  border-radius: 20px;
  padding: 15px;
  color: #ffffff;
}

.battle-main {
  display: grid;
  font-size: 20px;
  margin: auto;
  width: 55%;
  grid-template-columns: repeat(2, 60% 40%);
}

.battle-main-grid-left {
  background-image: linear-gradient(to bottom, #70a7db, #088772be);
  color: #ffffff;
  padding: 10px;
}

.battle-main-grid-rifht {
  background-image: linear-gradient(to bottom, #d34139b8, #088772ba);
  color: #ffffff;
  padding: 10px;
}

.battle-forlor {
  color: #ffffff;
  font-size: 15px;
  background-color: #088772;
  margin: auto;
  width: 57%;
  border-radius: 20px;
  padding: 10px;
}