.battle {
  width: 100%;
  height: 100%;
}

.battle-body {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
}

.battle-head {
  background-image: linear-gradient(to right, #116bc2cf, #70a7dbdb);
  font-size: 45px;
  margin: auto;
  width: 85%;
  border-radius: 20px;
  padding: 15px;
  color: #ffffff;
}

.battle-main {
  display: grid;
  font-size: 30px;
  margin: auto;
  width: 80%;
  grid-template-columns: repeat(2, 60% 40%);
  min-height: 299px;
}

.battle-main-grid-left {
  background-image: linear-gradient(to bottom, #70a7db, #088772be);
  color: #ffffff;
  padding: 10px;
}

.battle-main-grid-rifht {
  background-image: linear-gradient(to bottom, #d34139b8, #088772ba);
  color: #ffffff;
  padding: 10px;
}

.battle-forlor {
  color: #ffffff;
  font-size: 20px;
  background-color: #088772e6;
  margin: auto;
  width: 85%;
  border-radius: 20px;
  padding: 10px;
}