@font-face {
  font-family:"xiuxian";
  src: url('../../../font/_GBK.TTF');
  font-weight: normal;
  font-style: normal;
}

body {
  transform: scale(1);
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: xiuxian;
}
.config{
  width: 100%;
  height: 100%;
  background-image: url('../../img/help/help.png');
  background-size: 100% 100%;
}
.config-head {
  width: 100%;
  height: 300px;
}
.config-body {
  width: 100%;
  height: 1100px;
}
.config-body-title{
  width: 80%;
  font-size: 30px;
  padding: 5px;
  margin: auto;
  border-radius: 20px;
  background-color: rgba(255, 228, 196, 0.808);
}
.config-body-font{
  width: 80%;
  font-size: 30px;
  margin: auto;
  padding: 10px;
}