.header {
  display: flex;
  top: 50px;
}

.box {
  margin: 30px 30px 30px 30px;
  width: 740px;
  display: flex;
  flex-wrap: nowrap;
  background: rgb(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.45);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.user_top_left {
  text-align: center;
  margin-top: 30px;
}

.user_top_right {
  float: right;
  text-align: left;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 20px;
  backdrop-filter: blur(40px);
}

.user_top_img {
  margin-top: 52px;
  margin-left: 2px;
  width: 172px;
  height: 172px;
  border-radius: 100px;
}

.user_top_font_left {
  position: inherit;
  margin: 9px;
  width: 260px;
  padding: 10px;
  font-weight: 700;
  font-size: 32px;
  font-family: 'NZBZ';
  background: #ab9879cc;
  color: #ffd400;
  border-style: dashed;
  border-radius: 20px;
}

.user_top_font_right {
  text-align: left;
  margin: 9px;
  padding: 10px;
  font-size: 22px;
  width: 350px;
  height: 30px;
  font-weight: 600;
  font-family: 'tttgbnumber';
  color: #000;
  padding-left: 15px;
  display: flex;
  flex-wrap: nowrap;
}

.user_top_left_dh {
  font-family: 'NZBZ';
  background-color: rgba(19, 21, 22, 0.486);
  margin: 9px;
  border-radius: 20px;
  color: azure;
  margin-left: 13px;
  width: 240px;
  height: 40px;
  padding: 5px;
  font-size: 35px;
  text-align: center;
  box-shadow: 3px 2px 3px #ccc;
}

.use_data {
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 740px;
}

.use_data2 {
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 800px;
}

.user_font {
  text-align: left;
  margin: 9px;
  font-size: 22px;
  padding: 15px;
  font-weight: 600;
  font-family: 'tttgbnumber';
  border-radius: 20px;
  color: #000;
}

.user_font_title {
  text-align: center;
  padding-left: 0px;
  font-size: 30px;
}

.gonfa {
  display: flex;
  flex-wrap: wrap;
}

.gonfa2 {
  display: flex;
  flex-grow: 2;
  width: 33.33%;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}

.jichu {
  display: block;
  flex-grow: 2;
  width: 50%;
  height: 80%;
  font-weight: 600;
}

.wuqi {
  display: flex;
  flex-wrap: wrap;
}

.wuqi1 {
  display: flex;
  flex-grow: 2;
  width: 100%;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}

.wuqi2 {
  display: flex;
  flex-grow: 2;
  width: 25%;
  font-size: 20px;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  font-weight: 500;
}

.user_bottom1 {
  border-radius: 20px;
  width: 90%;
  margin: auto;
  background-image: radial-gradient(rgb(249, 249, 249), rgb(255, 255, 255));
}

.user_bottom2 {
  border-radius: 20px;
  width: 90%;
  margin: auto;
  height: 20px;
}

.xuetiao {
  white-space: nowrap;
  border-radius: 10px;
  background-color: rgb(6, 6, 7, 0.55);
}

.xueliang {
  border-radius: 10px;
  background-color: #0053ffff;
}

.font_volume {
  text-align: center;
  font-family: 'NZBZ';
  font-size: 16px;
  font-weight: 400;
  color: aliceblue;
}

.font_volume_max {
  font-size: 22px;
}

.card_box {
  margin: 20px auto 20px auto;
  width: 740px;
  display: flex;
  flex-wrap: nowrap;
  background: radial-gradient(at top left, #ffffff10, #d7edea10);
  border-top: 1px solid #ffcc80;
  border-left: 1px solid #ffcc80;
  border-right: 1px solid #bb8020;
  border-bottom: 1px solid #bb8020;
  box-shadow: 1px 2px 6px rgba(170, 31, 0, 0.2),
    3px 8px 12px rgba(71, 35, 22, 0.3);
  z-index: 999;
  border-radius: 20px;
  margin-bottom: 20px;
}

.card_box2 {
  margin: 20px auto 20px auto;
  width: 800px;
  display: flex;
  flex-wrap: nowrap;
  background: radial-gradient(at top left, #ffffff10, #d7edea10);
  border-top: 1px solid #ffcc80;
  border-left: 1px solid #ffcc80;
  border-right: 1px solid #bb8020;
  border-bottom: 1px solid #bb8020;
  box-shadow: 1px 2px 6px rgba(170, 31, 0, 0.2),
    3px 8px 12px rgba(71, 35, 22, 0.3);
  z-index: 999;
}

.wupin {
  display: flex;
  flex-wrap: wrap;
}

.item {
  margin: 10px;
  padding: 10px;
  flex-grow: 2;
  width: 135px;
  opacity: 0.95;
  background: #ffcc4d80;
  border-top: 1px solid #395b39a3;
  border-left: 1px solid #1c6d3cb3;
  border-right: 1px solid #1c6d3cb3;
  border-bottom: 1px solid #1c6d3cb3;
  box-shadow: 1px 2px 6px #1c6d3cb3, 3px 8px 12px #b7b7b7d1;
  z-index: 999;
  border-radius: 5px;
  margin-top: 20px;
}

.item_title {
  display: block;
  text-align: center;
  font-family: 'tttgbnumber';
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}

.item_title2 {
  display: block;
  text-align: center;
  font-family: 'tttgbnumber';
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  height: 50px;
}

.item_title3 {
  display: block;
  text-align: center;
  font-family: 'tttgbnumber';
  font-size: 20px;
  font-weight: 600;
  line-height: 200px;
  color: #000000;
}

.item_int {
  display: block;
  font-family: 'tttgbnumber';
  font-size: 16px;
  font-weight: 500;
  color: #393535;
}

.item_int2 {
  display: block;
  font-family: 'tttgbnumber';
  font-size: 16px;
  font-weight: 500;
  color: #393535;
  margin-left: 5px;
}

.blood_box {
  width: 280px;
  height: 100%;
  background-color: rgb(6, 6, 7, 0.55);
  border-radius: 14px;
  box-shadow: 0 8px 32px 0 rgb(43, 45, 59, 0.36);
}

.blood_bar {
  position: relative;
  width: 30%;
  height: 100%;
  background-color: rgb(217, 36, 31, 0.66);
  border-radius: 14px;
}

.blood_volume {
  position: relative;
  top: -28px;
  text-align: center;
  width: 300px;
  height: 100%;
  font-weight: 500;
  font-family: 'NZBZ';
  font-size: 20px;
  color: aliceblue;
}

.font_left {
  text-align: left;
}
