
body {
  width: 100%;
  margin: auto;
  text-align: center;
  background-image: url('../../..//img/player/player.jpg');
  background-size: 100% auto;
}

.user_top {
  margin-right: 60px;
  margin-bottom: 20px;
  display:grid;
  padding: 20px;
  grid-template-columns:auto auto auto;
  border-top-right-radius:200px;
  border-bottom-right-radius:200px;
  background-image: url('../../..//img/player/player-top-left.png');
  background-size: 100% 100%;
}
.user_top_img_bottom {
  background-image: url("../../..//img/player/player-top-right.png");
  background-size: 100% 100%;
  width: 300px;
  height: 300px;
  margin: auto;
}


.user_top_img {
  width: 195px;
  height: 195px;
  border-radius: 100px;
  margin: auto;
  margin-top: 62px;
}

.user_top_left {
  text-align: left;
  margin: auto;
}

.user_top_right {
  height: 100%;
  width: 100%;
}

.user_top_right_font0{
  font-size: 25px;
  color: rgb(255, 255, 255);
  padding: 15px;
  border-top-right-radius:25px;
  border-top-left-radius:25px;
  background-color: rgba(76,148,130);
}

.user_top_right_font1{
  font-size: 25px;
  color: rgb(255, 255, 255);
  padding: 15px;
  background-color: rgb(172 190 161 / 41%);
}

.user_top_right_font{
  font-size: 25px;
  color: rgb(255, 255, 255);
  padding: 15px;
  background-color: rgb(172 190 161 / 84%);
}

.user_top_right_font2{
  font-size: 25px;
  color: rgb(255, 255, 255);
  padding: 15px;
  border-bottom-right-radius:25px;
  border-bottom-left-radius:25px;
  background-color: rgba(76, 148, 130, 0.795);
}

.use_data {
  padding-bottom: 20px;
}

.user_font {
  text-align: left;
  margin: 9px;
  font-size: 25.6px;
  padding: 15px;
  padding-left: 60px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  background-color: rgba(19, 21, 22, 0.486);
}

.gonfa{
  display: flex;
  flex-wrap: wrap;
}

.gonfa2{
  display: flex;
  flex-grow: 2;
  width: 33.33%;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}


.user_bottom0 {
  padding-top: 80px;
  padding-bottom: 20px;
  border-radius: 20px;
  width: 90%;
  height: 380px;
  margin: auto;
}



.user_bottom1 {
  border-radius: 20px;
  width: 90%;
  margin: auto;
}


.user_bottom2 {
  border-radius: 20px;
  width: 90%;
  margin: auto;
  height: 20px;
}